{% extends '::base.html.twig' %}

{% block title %}
    Boutique d'Emilie
{% endblock %}

{% block header %}
    <header>
		<a href="{{ path('emily_home') }}" id="logo">
			EmilyBoutik
		</a>
		<nav id="menu">
			<ul>
				<li><a href="{{ path('emily_products_all') }}">Produits</a></li>
				{% for category in categories %}
					<li>
						<a href="{{ path('emily_category', {"id": category.id}) }}">{{ category.title }}</a>
					</li>
				{% endfor %}
				<li><a href="{{ path('emily_contact') }}">Contact</a></li>
			</ul>
		</nav>
	</header>
{% endblock %}

{% block footer %}
    <footer>
	</footer>
{% endblock %}

{% block body %}
    <div id="wrapper">
		<h1>{% block h1 %}{% endblock %}</h1>
		{% block content %}{% endblock %}
	</div>
{% endblock %}