{% extends 'emilyBoutikBundle::layout.html.twig' %}

{% block h1 %}
	Ajouter un produit
{% endblock %}

{% block content %}
	<form action="" method="post" {{ form_enctype(form) }} class="form form-product">
        {% if app.session.hasFlash("emily_products") %}
            <div class="messages">
                {{ app.session.flash("emily_products") }}
            </div>
        {% endif %}
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
		{{ form_rest(form) }}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}